@model Tras.Web.Models.Employee.PersonViewModel

@using (Html.BeginWapperContent())
{
    @Html.HiddenFor(m=>m.PersonId)
    <div class="row">
        <div class="col-lg-3">
            <img src="~/Content/images/blank_profile_male.jpg" class="img-polaroid" style="width: 140px; height: 140px;" />
        </div>
        <div class="col-lg-9">
            <div class="m-b-md">
                @Html.ActionLink("Edit profile", "Edit", "Person", new RouteValueDictionary(new { id = Model.PersonId }), new Dictionary<string, object>
                {
                    {"class", "btn btn-white btn-xs pull-right"}
                })
                <h2>@Html.DisplayFor(m => m.FullName)</h2>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.PersonalNo):</dt>
                    <dd><span class="label label-danger">@Html.DisplayFor(m => m.PersonalNo)</span></dd>
                    <dt>@Html.DisplayNameFor(m => m.RankId):</dt>
                    <dd><span class="label label-success">@Html.DisplayFor(m => m.RankName)</span></dd>
                </dl>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6 b-r">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.GenderKey):</dt>
                <dd>@Html.DisplayFor(m => m.GenderValue)</dd>
                <dt>@Html.DisplayNameFor(m => m.PersonTypeKey):</dt>
                <dd>@Html.DisplayFor(m => m.PersonTypeValue)</dd>
                <dt>@Html.DisplayNameFor(m => m.CategoryKey):</dt>
                <dd>@Html.DisplayFor(m => m.CategoryValue)</dd>
                <dt>@Html.DisplayNameFor(m => m.DepartmentId):</dt>
                <dd>@Html.DisplayFor(m => m.DepartmentName)</dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.JoiningDate):</dt>
                <dd>@Html.DisplayFor(m => m.JoiningDate)</dd>
                <dt>@Html.DisplayNameFor(m => m.JobTypeKey):</dt>
                <dd>@Html.DisplayFor(m => m.JobTypeValue)</dd>
                <dt>@Html.DisplayNameFor(m => m.FamilyTypeKey):</dt>
                <dd>@Html.DisplayFor(m => m.FamilyTypeValue)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 b-r">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.UnitId):</dt>
                <dd>@Html.DisplayFor(m => m.UnitName)</dd>
                <dt>@Html.DisplayNameFor(m => m.DirectorId):</dt>
                <dd>@Html.DisplayFor(m => m.DirectorName)</dd>
                <dt>@Html.DisplayNameFor(m => m.Stdp1No):</dt>
                <dd>@Html.DisplayFor(m => m.Stdp1No)</dd>
                <dt>@Html.DisplayNameFor(m => m.Stdp1NoDate):</dt>
                <dd>@Html.DisplayFor(m => m.Stdp1NoDate)</dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(m => m.MaritalStatusKey):</dt>
                <dd><span class="label label-default">@Html.DisplayFor(m => m.MaritalStatusValue)</span></dd>
            </dl>
        </div>
    </div>
}


