@using Tras.Core.Domain.Common
@model Tras.Web.Models.Residence.RoomViewModel

@{
    var pageAction = (AppConstant.PageAction)ViewBag.PageAction;
}
@Html.Partial("_TopComponent", viewData: new ViewDataDictionary
{
    {"PageInfo", ViewBag.PageInfo}
})
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-8 no-left-pad">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.RoomId)
        @Html.EditorContainerFor(m => m.RoomName, additionalViewData: new { inputWidthType = AppConstant.InputWidthType.Large })
        @Html.EditorContainerFor(m => m.MessId, "DropDownList", additionalViewData: new { selectlist = ViewBag.Messes })
        <div class="col-md-12 top-buffer">
            <input type="submit" value="Save" class="btn btn-primary" />&nbsp;&nbsp;
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
